body {
	background: black;
	color: white;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}
 
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: url('https://assets.nflxext.com/ffe/siteui/vlv3/4da5d2b1-1b22-498d-90c0-4d86701dffcc/c46830d8-368e-4be2-a3c1-ff4b4c1671c0/LT-en-20240129-popsignuptwoweeks-perspective_alpha_website_large.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.fade {
	width: 100%;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 1) 0,
		rgba(0, 0, 0, 0.5) 50%,
		rgba(0, 0, 0, 1) 100%
	);
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.container-wrapper {
	max-width: 1200px;
	margin: auto;
}
 
header button {
	border: none;
	margin-left: 15px;
	padding: 7px 13px;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	width: auto;
	overflow: visible;
	background: red;
    cursor:pointer;
}
 
.logo {
	width: 150px;
	fill: red;
}
 
.header-section {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
}
 
.header-form {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.header-form form input {
	background: rgba(46, 46, 46, 0.5);
	border: 1px solid rgb(80, 79, 79);
	border-radius: 5px;
	padding: 1rem 8rem 1rem 1rem;
	color: white;
}

.header-form button {
    border: none;
	margin-left: 5px;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	width: auto;
	overflow: visible;
	background: red;
    font-size: 1.5rem;
    cursor: pointer;
}

#header-dropdown {
	height: 30px;
	width: 125px;
	background: rgba(46, 46, 46, 0.5);
	color: white;
	border-radius: 5px;
	padding-left: 10px;
	border: 1px solid rgb(63, 63, 63);
}
 
#header-dropdown option {
	color: black;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
h1 {
	margin: 0;
    font-size: 3rem;
    font-weight: 900;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}
 
.content-section {
	display: flex;
    align-items: center;
	justify-content: center;
	background: black;
	padding: 50px;
    border-top: 8px solid rgb(44, 44, 44);
}
 
.content-section h3 {
    text-align: left;
}

.faq h1,
h3,
form {
	text-align: center;
}

.faq {
    border-top: 8px solid rgb(44, 44, 44);
    
}

footer {
	display: flex;
	flex-direction: column;
}
 
.footer-column {
	display: flex;
	flex-direction: column;
	min-width: 200px;
}
 
.footer-menu {
	margin-top: 20px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}
 
/* body {
	margin: auto;
	padding: 0;
	max-width: 1200px;
	background: black;
}
 
footer {
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 60px;
	color: white;
	background-color: #000000;
	font-weight: 400;
	width: 100%;
	display: flex;
	flex-direction: column;
}
 
#question {
	display: block;
	margin: auto;
}
 
.footer-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
 
.footer-column .question {
	margin-bottom: 0.75rem;
}
.footer-column {
	flex: 1;
	flex-direction: column;
	margin-bottom: 0.75rem;
	min-width: 200px;
}
 
.footer-column a {
	position: relative;
	color: rgba(255, 255, 255, 0.7);
	display: block;
	text-decoration: underline;
}
 
.footer-column a:hover {
	cursor: pointer;
} */
 