body {
	background: black;
	color: white;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: underline;
	color: white;
} 
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: url('https://assets.nflxext.com/ffe/siteui/vlv3/4da5d2b1-1b22-498d-90c0-4d86701dffcc/c46830d8-368e-4be2-a3c1-ff4b4c1671c0/LT-en-20240129-popsignuptwoweeks-perspective_alpha_website_large.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.fade {
	width: 100%;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 1) 0,
		rgba(0, 0, 0, 0.5) 50%,
		rgba(0, 0, 0, 1) 100%
	);
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.container-wrapper {
	max-width: 1200px;
	margin: auto;
}
 
header button {
	border: none;
	margin-left: 15px;
	padding: 7px 13px;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	width: auto;
	overflow: visible;
	background: red;
    cursor:pointer;
}
 
.logo {
	width: 150px;
	fill: red;
}
 
.header-section {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
}
 
.header-form {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.header-form form input {
	background: rgba(46, 46, 46, 0.5);
	border: 1px solid rgb(80, 79, 79);
	border-radius: 5px;
	padding: 1rem 8rem 1rem 1rem;
	color: white;
}

.header-form button {
    border: none;
	margin-left: 5px;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	width: auto;
	overflow: visible;
	background: red;
    font-size: 1.5rem;
    cursor: pointer;
	display:flex;
	align-items: center;
}

.header-form button svg {
	width: 20px;
    height: 20px;
    fill: white;
}

#header-dropdown {
	height: 30px;
	width: 125px;
	background: rgba(46, 46, 46, 0.5);
	color: white;
	border-radius: 5px;
	padding-left: 10px;
	border: 1px solid rgb(63, 63, 63);
}
 
#header-dropdown option {
	color: black;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
h1 {
	margin: 0;
    font-size: 3rem;
    font-weight: 900;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}
 
.content-section {
	display: flex;
    align-items: center;
	justify-content: center;
	background: black;
	padding: 50px;
    border-top: 8px solid rgb(44, 44, 44);
}
 
.content-section h3 {
    text-align: left;
}

.faq h1,
h3,
form {
	text-align: center;
}

.faq-question {
    background: rgb(44, 44, 44);
    margin-bottom: 0.5rem;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.faq-answer {
    display:none;
    background: rgb(44, 44, 44);
    padding: 20px;
    margin-top: -0.4rem;
    margin-bottom: 0.5rem;

}

.faq {
    border-top: 8px solid rgb(44, 44, 44);
}

.plus-icon {
    width:20px;
    height:20px;
    fill: white;
}
.faq h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.faq-btn {
	border: none;
	margin-left: 5px;
	padding: 10px 13px;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	width: auto;
	overflow: visible;
	background: red;
    font-size: 1.5rem;
    cursor: pointer;
}

.faq-input input {
	background: rgba(46, 46, 46, 0.5);
	border: 1px solid rgb(80, 79, 79);
	border-radius: 5px;
	padding: 1rem 8rem 1rem 1rem;
	color: white;
}

.faq-input {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
}

.faq-input button svg {
	height: 20px;
	width: 20px;
	fill: white;
}

.faq-input button {
	display: flex;
	align-items: center;
}
 

footer {
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 60px;
	color: white;
	background-color: #000000;
	font-weight: 400;
	width: 100%;
	flex-direction: column;
	border-top: 8px solid rgb(44, 44, 44);

}
 
#question {
	display: block;
	margin-top: 4rem;
}

.video-picture {
	position: relative;
	flex: 4;
	height: 640px;
	width: 480px;
	display:flex;
	align-items: center;
}

.container-text { 
	flex: 3;
}

.video-picture img {
	position: absolute;
	z-index: 2;
}

.video-picture video {
	position: absolute;
	top: -5px;
	left: 80px;
    height: 640px;
	width: 480px;
	z-index: 1;
}

.video-picture2 {
	position: relative;
	flex: 4;
	height: 640px;
	width: 480px;
	display:flex;
	align-items: center;
}

.video-picture2 video {
	position: absolute;
	top: 20px;
	left: 110px;
    height: 460px;
	width: 400px;
	z-index: 1;
}

.video-picture2 img {
	position: absolute;
	z-index: 2;
}


 
.footer-menu {
	justify-content: space-between;
	display:flex;
	flex-wrap: wrap;
	margin: none;
	margin-top: 2rem;
}
 
.footer-column .question {
	margin-bottom: 0.75rem;
}
.footer-column {
	flex: 1;
	flex-direction: column;
	margin-bottom: 0.75rem;
	min-width: 200px;
}
 
.footer-column a {
	position: relative;
	color: rgba(255, 255, 255, 0.7);
	display: block;
	text-decoration: underline;
	line-height: 2rem;
}
 
.footer-column a:hover {
	cursor: pointer;
}

.modal-wrapper {
	display: none;
	width: 100%;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 1) 0,
		rgba(0, 0, 0, 0.8) 50%,
		rgba(0, 0, 0, 1) 100%
	);
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 99;
}

.modal-top svg {
	fill:red;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	right: 30px;
	top: 40px;
}
.modal {
	height: 640px;
	width: 350px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 4rem;
	background: rgba(0, 0, 0, 0.9);
	margin-top: 1rem;
}

.modal-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	gap: 1rem;
}

.modal-btn input {
	background: rgba(46, 46, 46, 0.5);
	border: 1px solid rgb(80, 79, 79);
	border-radius: 5px;
	padding: 1rem 8rem 1rem 1rem;
	color: white;
}

.modal-btn button {
	border: none;
	padding: 15px 13px;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	width: auto;
	overflow: visible;
	background: red;
    cursor:pointer;
}

.modal-btn a {
	text-align: center;
	color: white;
	text-decoration: none;
}

.checkbox {
	display: flex;
	margin-top: 6rem;

}

.modal-bottomtext {
	display:flex;
	align-items: center;
	gap: 5px;
}

.modal-top h2 {
	font-size: 2rem;
    font-weight: 700;
}



